.signup-form{
	margin: 0 auto;
	width:40%;
	margin-top:50px;
	width: 420px;
	height: 673px;
	padding: 8px;
	border-width: 1px;
	border-style: solid;
	border-radius:10px;
	border-color: #7C4DFF;
	background: #FFFFFF;
	text-align: center;
}
a{
    float: right;
    padding-right: 40px;
    margin: top 20px;
    text-decoration: none;
   
}
.text-input {
	width: 300px;
	height: 48px;
	display:flex;
	flex-wrap: wrap;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.text-input input{
	
    font-family: "Inter";
	font-weight: 500;
	font-size: 14px;
	line-height: 1.3;
	width: 80%;
	height: 90%;
    border-radius: 6px;
    padding-left:15px;
	
}
h2{
	width: 300px;
	height: 59px;
	color: #444444;
	font-family: "Figtree";
	font-weight: 800;
	font-size: 26px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
button{
	width: 300px;
	height: 48px;
	background: #7C4DFF;
	border-color: #7C4DFF;
	border-width: 1px;
	border-style: solid;
	border-radius: 9px;
	font-family: "Inter";
	font-weight: 600;
	font-size: 16px;
    color: #FFFFFF;
	text-align: center;
}

img{

	width: 21px;
	height: 21px;
	padding-left:10px;
	align-self: center;	
}